body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
}

h1, h2 {
    margin: 0.5rem 0;
}

main {
    padding: 0.1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f4f4f4;
    color: #333;
}

#livro-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#livro-btn:hover {
    background-color: #0056b3;
}

    /*botao whatsapp*/

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:2px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

    /*botao whatsapp*/





    /*IMAGEM PRINCIPAL*/

    .image-container {
        position: relative; /* Define a imagem como um contexto de posicionamento */
        width: 100%;
        height: 100%; 
      }

      .image-container img {
        display: block; 
        width: 100%;
        height: 100%; 
        object-fit: cover;       
    }
  
      .overlay-text {
        position: absolute; /* Posiciona o texto de forma absoluta */
        top: 50%;         /* Posiciona verticalmente no centro da imagem */
        left: 45%;        /* Posiciona horizontalmente no centro da imagem */
        transform: translate(-50%, -50%); /* Corrige a deslocalização do texto */
        z-index: 1;
        /* Adicione estilos de texto, como cor, tamanho, etc. */
        color: white; /* Cor do texto */
        font-size: 100%; /* Tamanho da fonte */
        font-size: 12px;
        -webkit-text-stroke: 0.2px black;
      }

      

       /*IMAGEM PRINCIPAL*/